* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

form {
  width: 100%;
  padding: 10px;
  padding-top: 0;
}

label {
  font-weight: bold;
  color: #8a8a8a;
  font-size: 12px;
}

/* Material input. */
.material-input {
  border: 1px solid #cccccc;
  border-radius: 6px;
  width: 100%;
  margin-top: 6px;
  overflow: hidden;
}

.material-input input {
  border: none;
  width: 100%;
  padding: 10px;
  font-size: 12px;
}

/* Main action button. */
.actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;
}

.actions button {
  border: none;
  outline: none;
  background-color: rgba(136, 142, 230, 0.2);
  color: #1f29bd;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px 15px;
  border-radius: 16px;
}

.actions button:hover {
  color: #1f29bd;
}

button:active {
  transform: scale(.95);
}
