* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  width: 330px;
}

/* Container mode. */
body.loading form,
body.server-not-found form {
  display: none;
}

body.loading .loader-container,
body.server-not-found .server-not-found-container {
  display: flex;
}

.container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
}

/* Server not found. */
.server-not-found-container {
  font-weight: bold;
}

/* Loader. */
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.loader:after {
  content: " ";
  display: block;
  width: 21px;
  height: 21px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid #1f29bd;
  border-color: #1f29bd transparent #1f29bd transparent;
  animation: loader .8s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Listing. */
ul {
  list-style-type: none;
  width: 100%;
}

ul li {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 5px 0;
}

ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 100px;
  width: calc(100% - 100px);
  border-bottom: 1px solid lightgray;
}

ul li:last-child::after {
  display: none;
}

/* Set label. */
ul li label {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 3px;
  transition: all .15s linear 0s;
}

/* Hide input. */
ul li input {
  display: none;
}

ul li input[type="radio"]:checked + label {
  background-color: rgba(136, 142, 230, 0.2);
  color: #1f29bd;
} 


.place-to-eat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100px;
  overflow: hidden;
}

.place-to-eat img {
  height: 100%;
  width: 100%;
}

.group-infos {
  display: flex;
  flex-flow: column wrap;
  margin-left: 8px;
}

.group-infos .name {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 3px;
}

.eater {
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  max-width: 280px;
}

.eater img {
  height: 25px;
  border-radius: 50%;
  margin: 1px 3px;
}

.big-separator {
  height: 1px;
  width: 100%;
  margin-top: 8px;
  background: #d8d8d8;
}


/* Foldable. */
.foldable {
  position: relative;
  height: auto;
  width: 100%;
}

.foldable > .foldable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 100%;
  padding: 0 13px;
  background-color: rgb(246, 246, 246);
}

.foldable > .foldable-header p {
  color: #1f29bd;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}

.foldable > .foldable-header svg {
  height: 25px;
  fill: #1f29bd;
  transform: rotate(180deg);
  transition: all .18s linear 0s;
}

.foldable > .foldable-content {
  margin-top: 4px;
  max-height: 300px;
  overflow: hidden;
  transition: all .3s linear 0s;
}

.foldable.fold svg {
  transform: rotate(0deg);
}

.foldable.fold .foldable-content {
  max-height: 0;
}

.foldable > .foldable-content #availables {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  margin: auto;
  text-align: center;
}

.available-template input {
  display: none;
}

.available-template label {
  transition: border .1s linear 0s;
}

.available-template input:checked + label {
  border: 4px solid rgba(136, 142, 230, 0.2);
}

.available-template input:checked + label .name {
  background: rgba(136, 142, 230, .6);
}

.foldable .place-to-eat {
  cursor: pointer;
  width: 160px;
  height: 85px;
  margin: 0;
  margin-bottom: 4px;
}

.foldable .place-to-eat:nth-child(n) {
  margin-left: 4px;
}

.place-to-eat .name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .33);
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  z-index: 200;
  transition: all .15s linear 0s;
}

.place-to-eat .name:hover {
  background-color: rgba(0, 0, 0, .22);
}


/* Main action button. */
.actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 15px;
}

.actions button {
  border: none;
  outline: none;
  background-color: rgba(136, 142, 230, 0.2);
  color: #1f29bd;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px 15px;
  border-radius: 16px;
}

button:active {
  transform: scale(.95);
}
